#nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

#nav-bar ul li {
    float: left;
}

#nav-bar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#nav-bar ul li a:hover {
  background-color: #111111;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 30px
}

div.gallery-item {
  margin: 5px;
  border: 1px solid #ccc;
  width: 400px;
}

div.gallery-item:hover {
  border: 1px solid #777;
}

div.gallery-item img {
  width: 100%;
  height: 300px;
}

div.gallery-item div.desc {
  padding: 15px;
  text-align: center;
}

 Main hero image styling 
body > img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

 Responsive gallery *
@media screen and (max-width: 600px) {
  div.gallery-item {
    width: 100%;
  }
}

 Image hover effects 
img {
  transition: transform 0.3s ease;
}

div.gallery-item:hover img {
  transform: scale(1.05);
}

#hero-banner{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#title {
  text-align: center;
  margin: 40px;
  font-size: 50px;
}

#hero-banner-2{
  display: flex;
  flex-direction: row;
  justify-content: center;
}